
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

mqtt_statestream:
  base_topic: home/ha
  publish_attributes: false
  publish_timestamps: false
  include:
    domains:
      - sensor
      - binary_sensor
      - switch
      - light
      - climate
    entity_globs:
      - switch.*p304m*

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
